.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-back.jpg");

  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
}

.main-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  color: var(--tertiary-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn {
  padding: 10px 32px;
  margin-top: 30px;
  margin-bottom: 0;
  border: 1px solid transparent;
  border-radius: 4px;

  color: var(--tertiary-color);
  background-color: #2196f3;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
